<%= render 'shared/page_title', title: "Edit Comment" %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for ([@recipe, @comment]) do |f| %>
      <%= f.label 'Edit Comment' %>
      <%= f.text_area :body %>

      <%= f.submit "Update Comment", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
